* {
  box-sizing: border-box;
}

html, body, button, input, select, textarea {
  font: 14px "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 18px;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

#root {
  width: 100%;
  height: 100%;
}

#root > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

header {
  flex: 0 0 auto;
  padding: 0 20px;
  border-bottom: 1px solid #e5e5e5;
}

footer {
  flex: 0 0 auto;
  font-size: 12px;
  padding: 12px 20px;
  border-top: 1px solid #e5e5e5;
}

.main {
  flex: 1 1 auto;
  display: flex;
}

.navigation-bar {
  flex: 0 0 auto;
  width: 240px;
  background-color: #fcfcfc;
  border-right: 1px solid #e5e5e5;
}

ul.navigation {
  list-style: none;
  padding: 0 20px;
}

ul.navigation li {
  margin-bottom: 8px;
}

.child-content {
  flex: 1 1 auto;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}

a {
  color: #000000;
  text-decoration: initial;
}

a:hover, a:active, a.active {
  color: #42a5f5;
}

pre {
  white-space: pre;
}

.my-pane {
  margin: 20px;
}

.my-iframe {
  width: 100%;
  height: 100%;
}

.my-iframe .my-iframe-overlay {
  position: absolute;
  width: 100%;
  height: 100%;

}

.my-iframe iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.not-found {
  margin: 20px;
}

.volatile {
  transition: background-color 1s, border-color 1s;
  transition-delay: 500ms;
  padding: 2px 4px;
  margin: 0 2px;
  border: 1px solid white;
  border-radius: 4px;
}

.volatile.highlight {
  transition: none;
  background: #fff176;
  border-color: #ff8f00;
}
